name: Deploy Docker Image

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run tests
      run: |
        python -m pytest tests/ --disable-warnings

    - name: Log in to Docker Hub
      run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

    - name: Get commit hash
      run: echo "COMMIT_HASH=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

    - name: Build Docker image
      run: docker build --build-arg COMMIT_HASH=${{ env.COMMIT_HASH }} -t arzaghi/trader-bot:latest .

    - name: Push Docker image
      run: docker push arzaghi/trader-bot:latest

    - name: Deploy to server
      uses: appleboy/ssh-action@v0.1.10
      with:
        host: ${{ secrets.SSH_HOST }}
        port: ${{ secrets.SSH_PORT }}
        username: ${{ secrets.SSH_USER }}
        key: ${{ secrets.SSH_KEY }}
        script: |
          set -e

          echo "Stopping existing container if running..."
          if docker ps -q -f name=traderBot; then
            docker stop traderBot || echo "Failed to stop traderBot"
          fi

          echo "Pulling latest image..."
          docker pull arzaghi/trader-bot:latest

          echo "Removing existing container if exists..."
          if docker ps -a -q -f name=traderBot; then
            docker rm traderBot || echo "Failed to remove traderBot"
          fi

          echo "Starting new container..."
          docker run -d --name traderBot \
            -e TELEGRAM_BOT_TOKEN=${{ secrets.TELEGRAM_BOT_TOKEN }} \
            -e TELEGRAM_CHANNEL_ID=${{ secrets.TELEGRAM_CHANNEL_ID }} \
            arzaghi/trader-bot:latest
